@charset "UTF-8";
@import "./textTemplate";
@import "./template";

.top {
  width: 100%;
  height: 600px;
  background-image: url("/images/main.jpg");
  background-size: cover;
  h1 {
    text-align: center;
    line-height: 450px;
  }
}

.about {
  h2 {
    @include theme-text(24px, #333);
  }
}

// サービス一覧(services_path)ここから
.services {
  @include background(80%, auto, 20px, 20px, #333, 0.4);
  h2 {
    @include theme-text(20px, #f5f6fa);
  }
  .service-container {
    width: 60%;
    height: auto;
    margin: 20px auto;
    color: #f5f6fa;
    padding: 30px;
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      tr {
        border-bottom: solid 1px #f5f6fa;
        th {
          // border: solid 1px #000;
        }
        td {
          a {
            @include link_without_border(80%, 35px, 18px, #f5f6fa, 5px);
          }
        }
      }
    }
  }
}
// サービス一覧(services_path)ここまで

// サービス一覧(service_detail_path)ここから
.service-detail {
  h3{
    @include theme-text(20px, #f5f6fa);
  }
  .service-detail-container {
    @include background(70%, 500px, 20px, 20px, #333, 0.4);
    img {
      @include image(45%, auto, 10px);
    }
    .description {
      width: 100%;
      height: 200px;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      color: #f5f6fa;
    }
  }
}
// サービス一覧(service_detail_path)ここまで

// アカウント(account_path)ここから
.account-appointment-container {
  @include background(90%, 500px, 20px, 20px, #333, 0.4);
  h3 {
    @include theme-text(20px, #f5f6fa);
  }
  h4 {
    @include theme-text(18px, #f5f6fa);
    padding-top: 10px;
  }
  .appointment-check-container {
    @include table(80%, auto);
  }
}
// アカウントページ(account_path)ここまで